* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0px;
    padding: 0px;
}


/* For Menu */

.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.dropdown-toggle {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}

.profile_dropdown {
    top: 160%;
    left: unset;
    right: -16px;
}


/* new section */

.new-section .nav-link {
    color: blue !important;
}

.new-section .nav-pills li {
    margin: auto;
}

.new-section .nav-item {
    padding: unset !important;
}

.new-section p {
    width: 100% !important;
    text-align: left !important;
}

.new-section .tab-pane img {
    height: 100%;
    width: 100%;
}

form input {
    border: unset;
    border-radius: 20px;
    margin-top: 8px;
}

button {
    border-radius: 10px;
    color: #5c82ab;
}

button:hover {
    background: transparent;
    color: white;
    border: 2px solid #71bdaf;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 13px;
}


/* for image */

.ist-section {
    padding-top: 55px;
    overflow: hidden;
    min-height: 430px;
}

.ist-section .img {
    position: relative;
    background: url(images/teach.jpg);
    background-size: cover;
    min-height: 430px;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

.ist-section .img-content {
    position: absolute;
    color: white;
    left: 8%;
    padding: 100px 0 0 0;
}

.ist-section .btn {
    border-radius: 2px !important;
}

.ist-section p {
    padding: 40px 0 50px 0;
    /* margin: 50px 0; */
}


/* 2nd section */

.second-section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

h1 {
    display: 4;
    margin-bottom: 80px;
}

h4 {
    padding-bottom: 40px;
    padding-top: 40px;
}

p {
    width: 75%;
}


/* 3rd section */

.third-section {
    padding-top: 80px;
    text-align: center;
}

.third-section .img {
    position: relative;
    background: url(images/kaur.jpg);
    background-size: cover;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: color;
}

.third-section .img-content {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

.third-section h2 {
    padding: 20px 0 0 0;
}

.third-section p {
    padding: 50px 0;
}

.third-section hr {
    background-color: #007791;
    width: 6%;
    height: 1 px;
}


/* 4th section */

.fourth-section {
    text-align: center;
    min-height: 300px;
}

.fourth-section h2 {
    padding: 100px 0 0 0;
}

p {
    width: 75%;
    text-align: center;
    padding: 20px 0 0 0;
}

.fourth-section .btn {
    padding: 20px 80px;
}


/* Footer */

.footer {
    background: skyblue;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}

.lower-footer p {
    text-align: center;
}


/* media queries */


/* 0px to 320px */

@media (max-width: 425px) {
    .ist-section .img {
        min-height: 100vh;
    }
    .ist-section .display-4 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .third-section {
        padding: 60px 0;
    }
}


/* 426px to 547px */

@media (min-width: 426px) and (max-width: 547px) {
    .ist-section .img {
        height: 90vh;
    }
}


/* 426px to 768px */

@media (min-width: 426px) and (max-width: 768px) {
    .ist-section .img {
        background-position: right;
    }
}