body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

/* first profile page */

.hr2{
    z-index: 5550;
    width: 94.8%;
    margin-top: 8%;
    position: absolute;
    background: grey;
}
textarea{
    position: relative;
}
label{
    margin-top: 18px;
}
.input-field p{
    font-size: 12px;
}
.twit{
    width: 50%;
}

/* second profile page */

img{
    width: 400px;
    height: 300px;
    margin-top: 10px;
}
.profile-input{
    padding: 12px 18px;
    width: 19%;
    margin-top: 30px;
}
#menu1{
    font-size: 12px;
}

/* 3rd profile page */

.btn{
    background-color: grey;
}
#menu2 a{
    margin-left: 10px;
}
