* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}


/* For Menu */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color-burn;
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.dropdown-toggle {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}

.profile_dropdown {
    top: 160%;
    left: unset;
    right: -16px;
}


/* Main Image */

.image {
    min-height: 100vh;
    width: auto;
    background: url("{{asset('Images/apple.jpg')}}");
    background-position: center center;
    background-size: cover;
    background-color: rgba(#71bdaf, #71bdaf, #71bdaf, 0.3);
    background-blend-mode: color;
}

.image .container {
    padding: 100px 0 50px 0;
}

.image .row h1 {
    padding: 20px 0;
}

.image p,
.image h1 {
    color: #d8f2ef;
}

.bt-1,
.bt-2 {
    padding: 10px;
    font-weight: 500;
}

.bt-1:hover,
.bt-2:hover {
    background: transparent !important;
    color: white;
    border: 2px solid white;
}


/* First Section / Learning Div */

.first-section {
    padding-top: 7%;
    padding-bottom: 7%;
}

.first-section .row div h1 {
    padding-top: 70px;
}


/* Second Section / Choose us content */

.content {
    padding-top: 7%;
    padding-bottom: 7%;
    background: #f7f5f2;
}

.content .card img {
    height: 60px;
    width: 60px;
    transition: transform .2s;
}

.content .card:hover {
    border: 1px solid skyblue;
}

.content .col-md-4:hover img {
    transform: scale(1.2);
}


/* Third Section / Slider */

.slider {
    background: #ede7e6;
    padding-top: 7%;
    padding-bottom: 7%;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: color;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item .carousel-caption h1 {
    color: whitesmoke;
}


/*  Fourth Section / Top Categories */

.fourth-section {
    padding-top: 7%;
    padding-bottom: 7%;
}

.fourth-section .card {
    position: relative;
}

.fourth-section .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    opacity: 0.9;
    transition: .5s ease;
    background: slategray;
}

.fourth-section .layer button,
.fourth-section .layer2 button {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fourth-section .layer2 {
    position: absolute;
    bottom: 28%;
    left: 0;
    right: 0;
    background-color: slategray;
    width: 100%;
    height: 0;
    opacity: 0.9;
    transition: .5s ease;
}

.fourth-section .card:hover .layer {
    height: 72%;
}

.fourth-section .card:hover .layer2 {
    height: 72%;
}

.fourth-section .card:hover .layer button,
.fourth-section .card:hover .layer2 button {
    display: block;
}

.fourth-section .card-img-top {
    height: 100%;
    width: 100%;
    display: block;
}


/* Fifth Section / Instructor - Buisness */

.buisness {
    padding-top: 7%;
    padding-bottom: 7%;
    background: #f7f5f2;
}


/* Sixth Section- Image/Content */

.sixth-section {
    min-height: 70vh;
    padding-top: 7%;
    padding-bottom: 7%;
    background: #d6edf6;
}

.sixthsec-content p {
    font-size: 24px;
    line-height: 35px;
    padding-top: 40px;
}

.sixthsec-img {
    max-height: 250px;
}


/* Seventh Div / Total Students - Teachers */


/* Footer */

.footer {
    background: skyblue;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}

.lower-footer p {
    text-align: center;
}

@media screen and (max-width: 764px) {
    .sixthsec-img {
        padding-top: 20px;
    }
}