
*{
    margin: 0;
    padding: 0;
}
body
{
    background: #f2f3f5;
}
.row1{
    background: skyblue;
    /*position: relative;*/
}
.icon{
    color: black;
}
.btn1{
    background: skyblue;
    color: white;
}
.icon1{
    margin-left: 40%;
}
/*section3*/
.icon2{
font-size:10px!important;
}
.col2{
    background: rgb(212, 202, 202);
}